canvas {
    margin: 0px;
    padding: 0px;
    width: 512px;
    height: 512px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#machine {
    opacity: 0.35;
    z-index: 1;
}
#drawing {
    z-index: 0;
}
