canvas {
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 800px;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
}

#machine {
    opacity: 0.35;
    z-index: 1;
}
#drawing {
    z-index: 0;
}
